div, p, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* GENERAL */
.main-container {
  width: 100%;
  padding: 0 0 100px 0;
  height: 800px;
}

@media screen and (max-width: 767px) {
  .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .main-container {
    background: -webkit-gradient(linear, left top, left bottom, from(#bebebef8), to(#bebebef8)) no-repeat center/2px 90%;
    background: linear-gradient(#bebebef8, #bebebef8) no-repeat center/2px 90%;
  }
}

.card {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .card {
    width: 40%;
    margin-top: 100px;
  }
}

.left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.left .card-text {
  text-align: right;
}

.left .card-date {
  right: 15px;
}

.left .card-line-circle {
  right: -10px;
}

@media screen and (min-width: 768px) {
  .left {
    float: left;
    margin-left: 10%;
  }
}

.right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.right .card-text {
  text-align: left;
}

.right .card-date {
  left: 15px;
}

.right .card-line-circle {
  left: -10px;
}

@media screen and (min-width: 768px) {
  .right {
    float: right;
    margin-right: 10%;
  }
}

.card-line-container {
  display: none;
  position: relative;
  width: 10%;
}

@media screen and (min-width: 768px) {
  .card-line-container {
    display: block;
  }
}

.card-line {
  background: #0ac6e9;
  width: 100%;
  height: 1.5px;
  margin-top: 20px;
}

.card-line-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  border: 2px solid #0ac6e9;
  position: absolute;
  top: 10px;
}

.card-border {
  position: relative;
  width: 100%;
  border: 2px solid #0ac6e9;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 768px) {
  .card-border {
    width: 90%;
  }
}

.card-date {
  background-color: #f33f33;
  border-radius: 3px;
  position: absolute;
  top: -12.5px;
  text-align: center;
}

.card-date-text {
  color: #fff;
  font-weight: bold;
  padding: 4px 4px;
  font-size: 14px;
}

.card-text {
  padding: 15px;
  color: #33244a;
}

.card-text-title {
  margin: 10px 0;
  font-weight: bold;
}

.card-text-body {
  margin-bottom: 10px;
  font-weight: lighter;
}

.card-text-image {
  width: 100%;
}

/* this is to be solved in PHP */
@media screen and (min-width: 768px) {
  #first-right {
    margin-top: 200px;
  }
}
/*# sourceMappingURL=style.css.map */